# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Local files
resources/
terraform/terraform_local_info.json
terraform/.terraform/
terraform/.terraform.*
terraform/.terraformrc
terraform/terraform.tfvars
*.tfvars
*.tfvars.json

# OS
.DS_Store
Thumbs.db
~$*
*.swp
*.swo
