# Example tfvars for MLS prep infra

# aws_profile = "default"         # or null to use env vars
# aws_region  = "us-east-1"

project_name = "aws-mls-prep"
environment  = "dev"

# bucket_name   = null             # let Terraform generate a unique name
force_destroy = false              # set true only if you accept deleting non-empty bucket

create_notebook        = false
notebook_instance_type = "ml.t3.medium"
notebook_volume_size   = 10

# notebook_subnet_id          = null
# notebook_security_group_ids = []
# vpc_cidr = "10.0.0.0/16"
# vpc_az_count = 2
# vpc_single_nat_gateway = true  # set false for one NAT per AZ

# create_sagemaker_domain = true
# sagemaker_domain_name = "aws-mls-prep-domain-dev"
# sagemaker_user_profile_name = "aws-mls-prep"

# create_prediction_user = true
# prediction_username = "ml_user_predict"

# JupyterLab Space (within Studio)
# create_jupyterlab_space = true
# space_instance_type     = "ml.t3.medium"
# space_sharing_type      = "Private"  # or "Shared"